<html>

<body>
  Administration console for db
  <hr />
  <hr />
  USER
     <hr />
	Adding
  <form action="/db/newUser" method="post">
    <table>
      <tr>
        <td>Name</td>
        <td><input type="text" name="name" size="80" /></td>
      </tr>

      <tr>
        <td>Pass</td>
        <td><input type="password" name="password" size="80" /></td>
      </tr>

      <tr>
        <td>Email</td>
        <td><input type="text" name="email" size="80" /></td>
      </tr>

      <tr>
        <td>Student ID</td>
        <td><input type="text" name="studentid" size="80" /></td>
      </tr>

      <tr>
        <td>College</td>
        <td><select type="text" name="college">
        {% for college in colleges %}
          <option value="{{college.key.id}}">
            {{ college.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
      <tr>
      	<td>Admin</td>
        <td><select name="admin">
          		<option value="true">YES</option>
          		<option value="">NO</option>
           </select></td>
      </tr>
      <tr>
        <td><input type="submit" value="Create" /></td>
      </tr>
    </table>
  </form>
<hr/>
    Removing
     <form action="/db/removeUser" method="post">
     <table>
     <tr>
        <td><select type="text" name="id">
        {% for user in users %}
          <option value="{{user.key.id}}">
            {{ user.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
           <tr>
        <td><input type="submit" value="Remove" /></td>
        </table>
      </tr>
      </form>
     <hr />
  Editing
    <form action="/db/editUser" method="post">
    <table>
     <tr>
        <td>User</td>
        <td><select type="text" name="id">
        {% for user in users %}
          <option value="{{user.key.id}}">
            {{ user.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><input type="text" name="name" size="80"/></td>
      </tr>
      <tr>
        <td>Pass</td>
        <td><input type="password" name="password" size="80" /></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input type="text" name="email" size="80" /></td>
      </tr>
      <tr>
        <td>Student ID</td>
        <td><input type="text" name="studentid" size="80" /></td>
      </tr>
      <tr>
        <td>College</td>
        <td><select type="text" name="college">
        {% for college in colleges %}
          <option value="{{college.key.id}}">
            {{ college.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
      <tr>
      	<td>Admin</td>
        <td><select name="admin">
          		<option value="true">YES</option>
          		<option value="">NO</option>
           </select></td>
      </tr>
      <tr>
        <td><input type="submit" value="Edit" /></td>
      </tr>
    </table>
  </form>
  <hr />
  <hr />
  <hr />

  COLLEGE
    <hr />
  Adding
  <form action="/db/newCollege" method="post">
    <table>
      <tr>
        <td>Name</td>

        <td><input type="text" name="name" size="80" /></td>
      </tr>

      <tr>
        <td><input type="submit" value="Create" /></td>
      </tr>
    </table>
  </form>
   <hr />
    Removing
     <form action="/db/removeCollege" method="post">
     <table>
     <tr>
        <td><select type="text" name="id">
        {% for college in colleges %}
          <option value="{{college.key.id}}">
            {{ college.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
           <tr>
        <td><input type="submit" value="Remove" /></td>
        </table>
      </tr>
      </form>
     <hr />
  Editing
  <form action="/db/editCollege" method="post">
    <table>
    	<tr>
    	    <td>College</td>
        <td><select type="text" name="id">
        {% for college in colleges %}
          <option value="{{college.key.id}}">
            {{ college.name }}
          </option>
         {% endfor %} 
        </select></td>
    	</tr>
      <tr>
        <td>Name</td>

        <td><input type="text" name="name" size="80" /></td>
      </tr>

      <tr>
        <td><input type="submit" value="Edit" /></td>
      </tr>
    </table>
  </form>
  <hr />
  <hr />
  <hr />
  COURSE
        <hr />
Adding
                       
  <form action="/db/newCourse" method="post">
    <table>
     <tr>
        <td>Serial Number</td>
        <td><input type="text" name="serialnumber" size="80" /></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><input type="text" name="name" size="80" /></td>
      </tr>
       <tr>
        <td>College</td>
        <td><select type="text" name="college">
        {% for college in colleges %}
          <option value="{{college.key.id}}">
            {{ college.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
      <tr>
        <td>Professor</td>
        <td><input type="text" name="professor" size="80" /></td>
      </tr>
        <tr>
        <td>Room</td>
        <td><input type="text" name="room" size="80" /></td>
      </tr>
      </tr>
        <tr>
        <td>Url</td>
        <td><input type="text" name="url" size="80" /></td>
      </tr>
      <tr>
        <td><input type="submit" value="Create" /></td>
      </tr>
    </table>
  </form>
   <hr />
    Removing
         <form action="/db/removeCourse" method="post">
     <table>
     <tr>
        <td><select type="text" name="id">
        {% for course in courses %}
          <option value="{{course.key.id}}">
            {{ course.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
           <tr>
        <td><input type="submit" value="Remove" /></td>
        </table>
      </tr>
      </form>
     <hr />
  Editing
  <form action="/db/editCourse" method="post">
    <table>
    <tr>      
        <td>Course</td>
        <td><select type="text" name="id">
        {% for course in courses %}
          <option value="{{course.key.id}}">
            {{ course.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
     <tr>
        <td>Serial Number</td>
        <td><input type="text" name="serialnumber" size="80" /></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><input type="text" name="name" size="80" /></td>
      </tr>
       <tr>
        <td>College</td>
        <td><select type="text" name="college">
        {% for college in colleges %}
          <option value="{{college.key.id}}">
            {{ college.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
      <tr>
        <td>Professor</td>
        <td><input type="text" name="professor" size="80" /></td>
      </tr>
        <tr>
        <td>Room</td>
        <td><input type="text" name="room" size="80" /></td>
      </tr>
      </tr>
        <tr>
        <td>Url</td>
        <td><input type="text" name="url" size="80" /></td>
      </tr>
      <tr>
        <td><input type="submit" value="Edit" /></td>
      </tr>
    </table>
  </form>
  <hr />
  <hr />
  <hr />
  RESOURCE
        <hr />
Adding

  <form action="/db/newResource" method="post">
    <table>
     <tr>
        <td>Name</td>
        <td><input type="text" name="name" size="80" /></td>
      </tr>
      <tr>
        <td>Author</td>
        <td><select type="text" name="author">
        {% for user in users %}
          <option value="{{user.key.id}}">
            {{ user.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
      <tr> 
       <td>Completion Date</td>
        <td>year<input type="text" name="date.year" size="10"/>
       	 month<input type="text" name="date.month" size="5" />
         day <input type="text" name="date.day" size="5" /></td>
      </tr> 
      <tr>      
        <td>Course</td>
        <td><select type="text" name="course">
        {% for course in courses %}
          <option value="{{course.key.id}}">
            {{ course.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
      <tr>
        <td>Resourcetype</td>
        <td><select type="text" name="resourcetype">
            <option value="exam">Exam</option>
            <option value="homework">Homework/Assignment</option>
            <option value="notes">Notes</option>
            <option value="other">Other</option>
        </select></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><textarea type="text" name="description" lines="5" columns="80" ></textarea></td>
      </tr>
      
       </tr>
        <tr>
        <td>Url</td>
        <td><input type="text" name="url" size="80" /></td>
      </tr> 
      <tr>
        <td><input type="submit" value="Create" /></td>
      </tr>
    </table>
  </form>
   <hr />
    Removing
         <form action="/db/removeResource" method="post">
     <table>
     <tr>
        <td><select type="text" name="id">
        {% for resource in resources %}
          <option value="{{resource.key.id}}">
            {{ resource.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
           <tr>
        <td><input type="submit" value="Remove" /></td>
        </table>
      </tr>
      </form>
     <hr />
  Editing
  <form action="/db/editResource" method="post">
    <table>
    <tr>
        <td><select type="text" name="id">
        {% for resource in resources %}
          <option value="{{resource.key.id}}">
            {{ resource.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
     <tr>
        <td>Name</td>
        <td><input type="text" name="name" size="80" /></td>
      </tr>
      <tr>
        <td>Author</td>
        <td><select type="text" name="author">
        {% for user in users %}
          <option value="{{user.key.id}}">
            {{ user.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
      <tr> 
       <td>Completion Date</td>
        <td>year<input type="text" name="date.year" size="10"/>
       	 month<input type="text" name="date.month" size="5" />
         day <input type="text" name="date.day" size="5" /></td>
      </tr> 
      <tr>      
        <td>Course</td>
        <td><select type="text" name="course">
        {% for course in courses %}
          <option value="{{course.key.id}}">
            {{ course.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
      <tr>
        <td>Resourcetype</td>
        <td><select type="text" name="resourcetype">
            <option value="exam">Exam</option>
            <option value="homework">Homework/Assignment</option>
            <option value="notes">Notes</option>
            <option value="other">Other</option>
        </select></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><textarea type="text" name="description" lines="5" columns="80" ></textarea></td>
      </tr>
      
       </tr>
        <tr>
        <td>Url</td>
        <td><input type="text" name="url" size="80" /></td>
      </tr> 
      <tr>
        <td><input type="submit" value="Edit" /></td>
      </tr>
    </table>
  </form>
   <hr />
</body>
</html>
