<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 </head>

<body>
  Administration console for db
  <hr />
  <hr />
  User

  <form action="/db/newUser" method="post">
    <table>
      <tr>
        <td>Name</td>
        <td><input type="text" name="name" size="80" /></td>
      </tr>

      <tr>
        <td>Pass</td>
        <td><input type="text" name="password" size="80" /></td>
      </tr>

      <tr>
        <td>Email</td>
        <td><input type="text" name="email" size="80" /></td>
      </tr>

      <tr>
        <td>Student ID</td>
        <td><input type="text" name="studentid" size="80" /></td>
      </tr>

      <tr>
        <td>College</td>
        <td><select type="text" name="college">
        {% for college in colleges %}
          <option value="{{college.collegeid}}">
            {{ college.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
      <tr>
      	<td>Admin</td>
        <td><select name="admin">
          		<option value="true">YES</option>
          		<option value="">NO</option>
           </select></td>
      </tr>
      <tr>
        <td><input type="submit" value="Create" /></td>
      </tr>
    </table>
  </form>
  <hr />
  <hr />
  <hr />
  College

  <form action="/db/newCollege" method="post">
    <table>
      <tr>
        <td>Name</td>

        <td><input type="text" name="name" size="80" /></td>
      </tr>

      <tr>
        <td><input type="submit" value="Create" /></td>
      </tr>
    </table>
  </form>
  <hr />
  <hr />
  <hr />
  Course
                       
  <form action="/db/newCourse" method="post">
    <table>
     <tr>
        <td>Serial Number</td>
        <td><input type="text" name="serialnumber" size="80" /></td>
      </tr>
      <tr>
        <td>Name</td>
        <td><input type="text" name="name" size="80" /></td>
      </tr>
       <tr>
        <td>College</td>
        <td><select type="text" name="college">
        {% for college in colleges %}
          <option value="{{college.collegeid}}">
            {{ college.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
      <tr>
        <td>Professor</td>
        <td><input type="text" name="professor" size="80" /></td>
      </tr>
        <tr>
        <td>Room</td>
        <td><input type="text" name="room" size="80" /></td>
      </tr>
      </tr>
        <tr>
        <td>Url</td>
        <td><input type="text" name="url" size="80" /></td>
      </tr>
      <tr>
        <td><input type="submit" value="Create" /></td>
      </tr>
    </table>
  </form>
  <hr />
  <hr />
  <hr />
  Resource

  <form action="/db/newResource" method="post">
    <table>
     <tr>
        <td>Name</td>
        <td><input type="text" name="name" size="80" /></td>
      </tr>
      <tr>
        <td>Author</td>
        <td><select type="text" name="author">
        {% for user in users %}
          <option value="{{user.studentid}}">
            {{ user.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
      <tr>
        <td>Course</td>
        <td><select type="text" name="course">
        {% for course in courses %}
          <option value="{{course.serialnumber}}">
            {{ course.name }}
          </option>
         {% endfor %} 
        </select></td>
      </tr>
      <tr>
        <td>Resourcetype</td>
        <td><select type="text" name="resourcetype">
            <option value="exam">Exam</option>
            <option value="homework">Homework/Assignment</option>
            <option value="notes">Notes</option>
            <option value="notes">Other</option>
        </select></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><textarea type="text" name="description" lines="5" columns="80" ></textarea></td>
      </tr>
      
       </tr>
        <tr>
        <td>Url</td>
        <td><input type="text" name="url" size="80" /></td>
      </tr> 
      <tr>
        <td><input type="submit" value="Create" /></td>
      </tr>
    </table>
  </form>
  
</body>
</html>
